<section id="reset-password-wrapper">
    <div class="row">
        <div class="container">
            <div class="reset-password-form-wrapper">
                <form [formGroup]="resetPasswordForm" class="reset-password-form">
                    <div class="reset-password-header">
                        <h1>Reset Password</h1>
                    </div>
                    <div class="form-inputs">
                        <div class="input-group">
                            <label for=""></label>
                            <input type="text" formControlName="email" name="email" id="email" placeholder="Email"
                                required>
                        </div>
                        <div class="input-group">
                            <label for=""></label>
                            <input type="password" formControlName="oldPassword" name="oldPassword" id="old-password"
                                placeholder="Old password" required>
                        </div>
                        <div class="input-group">
                            <input type="password" formControlName="newPassword" name="new-password" id="new-password"
                                placeholder="New password" required (input)="checkPasswordMatch()">
                        </div>
                        <div class="input-group">
                            <input type="password" formControlName="confirmNewPassword" name="confirm-new-password"
                                id="confirm-new-password" placeholder="Confirm new password" required
                                (input)="checkPasswordMatch()">
                        </div>
                        <div class="err-msg" *ngIf="emailError.status">
                            <p>
                                {{ emailError.msg }}
                            </p>
                        </div>
                        <div class="err-msg" *ngIf="passwordError.status">
                            <p>
                                {{ passwordError.msg }}
                            </p>
                        </div>
                        <div class="success-msg" *ngIf="passwordResetSuccessMsg.status">
                            <p>
                                {{ passwordResetSuccessMsg.msg }}
                            </p>
                        </div>
                    </div>
                    <div class="reset-password-bottom">
                        <div class="reset-password-btn">
                            <button type="button" (click)="resetPassword()"
                                [disabled]="resetPasswordForm.invalid || !isPasswordMatch">Reset Password</button>
                        </div>
                        <div class="create-accout">
                            <a routerLink="/login">
                                <span>
                                    Login
                                </span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>