<<section id="terms-and-conditions-wrapper">
    <div class="row">
        <div class="container">
            <div class="terms-and-conditions-content">
                <div class="title">
                    <h1>Terms And Conditions</h1>
                </div>
                <div class="terms-and-conditions-body">
                    The information and services available on the site are provided for the sole purpose of individuals looking for employment opportunities and career information. You may use, print and download information from the site for these purposes only. You may not otherwise copy, display, transmit or distribute any material from the site and if you do or if you perform any other unauthorised processing of information on the site it shall be deemed a material breach of these terms and conditions which, in the case of a Jobseeker “You” entitle us to terminate the Services immediately without prior notice. Further, we reserve the right to suspend provision of the Services to you in circumstances where we reasonably believe that you have performed any unauthorised processing of information.

 All copyright, database rights and other intellectual property rights in the site and the material available on the site belongs to us or its third party suppliers. Use of the site does not give you any proprietary rights in such materials.
                        
                </div>
            </div>
        </div>
    </div>
</section>