<section id="footer-wrapper">
    <div class="row">
        <div class="container">
            <div class="footer-content">
                <div class="logo-wrapper">
                    <img _ngcontent-quc-c108="" src="/assets/images/JobzLogo1.png" alt="">
                </div>
                <div class="links">
                    <ul>
                        <li>
                            <a routerLink="/about">
                                About us
                            </a>
                        </li>
                        <li>
                            <a routerLink="/privacyPolicy">
                                Privacy Policy
                            </a>
                        </li>
                        <li>
                            <a routerLink="/termsAndConditions">
                                Terms and Conditions
                            </a>
                        </li>
                        <li>
                            <a routerLink="/cookies">
                                Cookies
                            </a>
                        </li>
                        <li>
                            <a routerLink="/help">
                                Help
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="contant">
                    <app-contact-us></app-contact-us>
                </div>
            </div>
        </div>
    </div>
</section>