#home-wrapper {
  width: 100%;
  height: calc(100vh - 100px);
  background: url("../../../../assets/images/hero-md.webp");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#home-wrapper .row {
  width: 100%;
  height: 100%;
  display: flex;
}

#home-wrapper .row .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-wrapper .row .container .search-form-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  justify-content: center;
  align-items: center;
}

.search-form-container .txt {
  color: #fff;
  letter-spacing: 3px;
  font-size: 24pt;
}

.search-form-container .search-wrapper .job-search-form {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
}

.search-form-container .search-wrapper .job-search-form .grid-tile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / span 4;
  gap: 30px;
}

.search-form-container
  .search-wrapper
  .job-search-form
  .grid-tile.grid-top
  .input-group:first-child {
  grid-column: 1 / span 2;
}

.search-form-container
  .search-wrapper
  .job-search-form
  .grid-tile.grid-top
  .input-group:last-child {
  grid-column: 3 / span 4;
}

.search-form-container
  .search-wrapper
  .job-search-form
  .grid-tile.grid-bottom
  .input-group {
  grid-column: 1 / span 3;
  width: 100%;
}

.search-form-container
  .search-wrapper
  .job-search-form
  .grid-tile.grid-bottom
  .search-btn-wrapper {
  grid-column: 4 / span 4;
}

form .input-group {
  width: 300px;
  height: 40px;
  position: relative;
}

form .input-group label {
  position: absolute;
  top: -20px;
  color: #fff;
  font-weight: 600;
}

form .input-group input {
  width: 100%;
  height: 100%;
  /* font-size: 16pt; */
  border-radius: 5px;
  border: none;
  padding: 5px;
}

form .search-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

form .search-btn-wrapper .search-btn {
  width: 150px;
  height: 40px;
  font-size: 14pt;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
