<section id="privacy-policy-wrapper">
    <div class="row">
        <div class="container">
            <div class="privacy-policy-content">
                <div class="title">
                    <h1>Privacy policy</h1>
                </div>
                
                <div class="privacy-policy-body">
                    We take data protection very seriously and understand the importance of protecting your privacy and Personal Information.
                    “Personal Information” is information that identifies you as an individual such as your name, date of birth, email address, IP address and CV. 
                    We collect and use your Personal Information in accordance with this our Privacy Policy. The majority of the Personal Information you provide to us when you give us your CV or job cover letter to a job application.

                    Please do not submit such Personal Information to us if you do not wish us to collect it.
                    
                    Please be aware that we may also infer certain information about you from your expressed search preferences. We also collect from:<br>
                    <ul> 
                        <br>
                        <li>  our websites (the “Websites”)</li><br>
                            <li> the software applications made available by us for use on or through computers and mobile devices (the “Apps”)</li><br>
                                <li>cookies (“Cookies”)</li><br>
                                    <li> publically available information; </li><br>
                                        <li>  and other tools and applications (our “Online Content”).</li>
                </ul><br>
                </div>
            </div>
        </div>
    </div>
</section>