
<br><br><div style="text-align:center ;">
    <h1>About JobZ</h1>
</div>
<br> <br>

<div class="about-body">
    <p >
        Since we formed the site , we have become part of the largest hiring platform, offering jobseekers the chance to search,
        view and apply for over thousands live job adverts, in any industry, across the whole of the UK.
        But with so much choice, we have developed tools and technology to help you make finding the right job easier than ever.
        We recommended jobs specific to your skills and experience, and with instant alerts, we can help make sure that you never miss an opportunity.
    </p>
        
<br> <br><br>
<div style="text-align:center ;">
<h3>Founders</h3> <br><br>
</div>
<div class="row">
<div class="column">
<img src="/assets/images/2.jpg" alt="Card image cap" style="border-radius: 50%;" width="200" height="200">  <div style="text-align: left;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;waseem khalil </div>
</div>
<div class="column">
<img src="/assets/images/1.jpg" alt="Card image cap" style="border-radius: 50%;" width="200" height="200"> <div style="text-align: center;" > Hoda Hijaze</div>       
</div>
<div class="column">
<img src="/assets/images/3.png" alt="Card image cap" style="border-radius: 50%;" width="200" height="200">   <div style= "text-align: center;"> Kayan Issa </div>

</div>

</div>

