<section id="cookies-wrapper">
    <div class="row">
        <div class="container">
            <div class="cookies-content">
                <div class="title">
                    <h1>Cookie Policy</h1>
                </div>
                <div class="cookies-body">
                    <h3>What are cookies?</h3><br><br>
                    <p>
                       
                        A cookie is usually a small file of letters and numbers that we store on your browser or the hard drive of your computer, smart phone, tablet or other electronic device. However, they can take a number of different forms, such as pixels, plugins, tags scripts and combinations of these technologies to allow ‘device fingerprinting’. Cookies use information that is transferred to or read from your device’s hard drive. Some cookies may collect personal data about you. You can find out more information about cookies and pixels on the Information Commissioner’s Officer (ICO) website 
                  </p>
                  <p>Some cookies and pixels are referred to as “first party” which means they are placed by the website you are visiting – so in our case first party cookies and pixels are placed by Jobsites’ own website. “Third party” cookies and pixels are placed by other organisations (with our permission) via the Jobsite website, such as advertisers and social media platforms. They work by collecting information from your device and passing it directly back to the third party.</p>
                </div>
            </div>
        </div>
    </div>
</section>